<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJOyHxskHePQudfFO_pO2VW_KqYwBUedE</string>
	<key>BUNDLE_ID</key>
	<string>com.amega.capital.development</string>
	<key>GCM_SENDER_ID</key>
	<string>922508707079</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:922508707079:ios:32f8366e7c7c9320e2b1a2</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>amega-capital</string>
	<key>STORAGE_BUCKET</key>
	<string>amega-capital.firebasestorage.app</string>
</dict>
</plist>
